apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-depl
  labels:
    app: client
spec:
  replicas: 1
  selector:
    matchLabels:
      app: client
  template:
    metadata:
      labels:
        app: client
    spec:
      containers:
      - name: client
        image: client:latest
        imagePullPolicy: Never
        env:
        - name: NEXT_PUBLIC_API_URL
          value: "https://vestify.com"
        - name: NEXT_DISABLE_CACHE
          value: "true"
        - name: NEXT_PUBLIC_STRIPE_KEY
          valueFrom:
            secretKeyRef:
              name: stripe-secrets
              key: PUBLIC_KEY
---
apiVersion: v1
kind: Service
metadata:
  name: client-srv
  labels:
    app: client
spec:
  type: ClusterIP
  ports:
  - port: 3000
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: client

