apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: ingress-service
  annotations:
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  ingressClassName: nginx
  rules:
  - host: vestify.com
    http:
      paths:
      # All API requests go through API Gateway
      - path: /api/?(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: api-gateway-srv
            port:
              number: 3000
      # Frontend routes
      - path: /?(.*)
        pathType: ImplementationSpecific
        backend:
          service:
            name: client-srv
            port:
              number: 3000

